.wrapper {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.innerWrapper {
  background-color: #455a6475;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px #263238, 0 0 2px 1px #263238 inset;
}

.image {
  width: 375px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px #263238, 0 0 2px 2px #263238 inset;
}

.textField {
  background-color: #455a64c7;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  box-shadow: 0 0 20px 1px #263238, 0 0 15px 1px #eceff1 inset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  line-height: 1em;
  border-radius: 5px;
}