.wrapper {
  min-height: 100vh;
  background-color: #455a6475;
}

.container {
  padding: 0 40px 20px;
  background-color: #eceff193;
  border-radius: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  flex: 1 1 auto;
}

.mic {
  font-size: 30px !important;
  margin-right: 20px;
}

.icon {
  font-size: 30px !important;
  display: none;
}

@keyframes color-red {
  from { color: #4d0000d7; }
  80% { color: #4d0000d7; }      
  to { color: #d80000d7; } 
}

.on {
  animation: color-red 1s linear infinite alternate;
}

.btnTxt {
  font-size: 1.4vw;
}

@media (max-width: 800px) {
  .icon {
    display: inline;
  }

  .mic {
    margin-right: 0px;
  }

  .btnTxt {
    display: none;
  }
}
